.pageheader {
    max-width: 1405px;
    padding-left: 50px;
    height: 45px;
    font-size: 24px;
    border-bottom: 2px solid #bcbcbc;
    box-sizing: border-box;
    margin-left: 100px;
    font-family:Arial, sans-serif;
}
